body{
    background-image: url("miaoyin.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.notice{
    padding: 1%;
    border-radius: 30px;
    background-color: white;
    opacity: 0.7;
    margin-left:24.5%;
    width: 50%;
}

#note{
    text-align: center;
}

button{
    background-color: goldenrod;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 100px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    float: left;
    margin:2%;
}

.btn{
    margin-top: 1%;
}

button:hover{
    background-color: coral;
    transition: 0.1s linear;
    opacity: 1;
}

.num{
    margin-top: 12%;
}

#a,#b,#c,#d{
    margin: 3.6%;
    float: left;
    background-color: aqua; 
    background-size: 80%; 
    width: 100px; 
    height: 40px; 
    text-align: center; 
    font-size: 40px;
    border: 2px solid black;
    border-radius: 30px;
    padding-bottom: 5px;
}

.result{
    margin-left: 35%;
    margin-top: 10%;
}

#link{
    font-size: 40px;
    padding: 8px; 
    visibility: hidden; 
    margin-left: 13%;
    background-color: grey;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1{
    text-align: center;
}

p{
    padding-left: 5px;
    font-size: x-large;
    font-weight: bolder;   
}


/*For mobile*/
@media only screen and (max-width:900px) {
    body{
        background-image: none;
        background-color: grey;
    }

    .notice{
        margin-left:5%;
        padding: 1%;
        width: 90%;
    }

    button{
        float: none;
        width: 75px;
        height: 75px;
        font-size: 45px;
        
    }
    
    .btn{
        float: left;
        margin-top: 5%;
        margin-left: 15%;
    }

    .num{
        margin-top: -1%;
    }
    
    #a,#b,#c,#d{
        margin-right: 50px;
        float: right;
        background-color: aqua; 
        background-size: 80%; 
        width: 75px; 
        height: 30px; 
        text-align: center; 
        font-size: 25px;
        border: 2px solid black;
        border-radius: 30px;
        padding-right: 3px;
        padding-top: 3px;
        padding-bottom: 2px;
    }


    #link{
        font-size: 6vw;
        padding: 5px; 
        background-color: skyblue;
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-left: 40%;
    }
}

@media only screen and (max-width:321px) {
    button{
        background-color: goldenrod;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    
    .btn{
        margin-left: 16.5%;
    }

    #a,#b,#c,#d{
        background-size: 80%; 
        width: 35px;
        margin-bottom: 12px; 
        height: 10px; 
        text-align: center; 
        font-size: 10px;
    }

    .num{
        margin-left: 27.5%;
        margin-top: -21%;
    }

    #link{
        margin-left: 30%;
        font-size: 6vw;
        border-radius: 0px;
        text-align: center
    }
}

@media only screen and (min-width:1500px) {
    .notice{
        margin-left:26.5%;
        width: 45%;
    }
    
    .btn{
        margin-left: 27%;
    }

    .num{
        margin-left: 27%;
    }
}

@media only screen and (max-width:281px) {

    #link{
        margin-left: 33%;
        font-size: 5vw;
    }
}




